MQTopologies/EmployeeService_interface_and_maps/EmployeeService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="EmployeeService" targetNamespace="http://EmployeeService" xmlns:bons1="http://www.example.org/employeeNumber" xmlns:bons2="http://hrdb/iibuser" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://EmployeeService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="EmployeeServiceHttpBinding" originalBindingStyle="document"/>
        <generatedXSD location="EmployeeService_InlineSchema1.xsd"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  
  
  
  
  
  
  
  
  <wsdl:types>
    
        <xsd:schema targetNamespace="http://EmployeeService">
                        <xsd:import namespace="http://hrdb/iibuser" schemaLocation="../EmployeeService_submaps/hrdb/iibuser/HRDB.xsd"/>
            <xsd:import namespace="http://hrdb/iibuser" schemaLocation="../EmployeeService_submaps/hrdb/iibuser/HRDB.xsd"/>
            <xsd:import namespace="http://www.example.org/employeeNumber" schemaLocation="../EmployeeService_submaps/employeeNumber.xsd"/>
            <xsd:include schemaLocation="EmployeeService_InlineSchema1.xsd"/>
    </xsd:schema>
    </wsdl:types>
  <wsdl:message name="getEmployeeRequestMsg">
    <wsdl:part element="tns:getEmployee" name="getEmployeeParameters"/>
  </wsdl:message>
  <wsdl:message name="getEmployeeResponseMsg">
    <wsdl:part element="tns:getEmployeeResponse" name="getEmployeeResult"/>
  </wsdl:message>
    <wsdl:message name="getAllEmployeesRequestMsg">
    <wsdl:part element="tns:getAllEmployees" name="getAllEmployeesParameters"/>
  </wsdl:message>
    <wsdl:message name="getAllEmployeesResponseMsg">
    <wsdl:part element="tns:getAllEmployeesResponse" name="getAllEmployeesResult"/>
  </wsdl:message>
    <wsdl:portType name="EmployeeService">
    <wsdl:operation name="getEmployee">
      <wsdl:input message="tns:getEmployeeRequestMsg" name="getEmployeeRequest"/>
      <wsdl:output message="tns:getEmployeeResponseMsg" name="getEmployeeResponse"/>
    </wsdl:operation>
        <wsdl:operation name="getAllEmployees">
      <wsdl:input message="tns:getAllEmployeesRequestMsg" name="getAllEmployeesRequest"/>
      <wsdl:output message="tns:getAllEmployeesResponseMsg" name="getAllEmployeesResponse"/>
    </wsdl:operation>
    </wsdl:portType>
  <wsdl:binding name="EmployeeServiceHttpBinding" type="tns:EmployeeService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getEmployee">
            <soap:operation soapAction="http://EmployeeService/getEmployee"/>
            <wsdl:input name="getEmployeeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output name="getEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="getAllEmployees">
      <soap:operation soapAction="http://EmployeeService/getAllEmployees"/>
      <wsdl:input name="getAllEmployeesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllEmployeesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    </wsdl:binding>
  <wsdl:service name="EmployeeServiceHttpService">
    <wsdl:port binding="tns:EmployeeServiceHttpBinding" name="EmployeeServiceHttpPort">
      <soap:address location="http://localhost:7800/EmployeeService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>